<?xml version="1.0"?>
<object_store type="hierarchical">
    <backends>
        <backend id="newdata" type="disk" order="0">
            <files_dir path="/mnt/galaxy_data/data2/datasets" />
            <extra_dir type="job_work" path="/mnt/galaxy_data/data2/jobs" />
            <extra_dir type="temp" path="/mnt/galaxy_data/data2/tmp" />
            <cache path="/mnt/galaxy_data/data2/cache" size="10" cache_updated_data="True" />
        </backend>
        <backend id="olddata" type="disk" order="1">
            <files_dir path="/data/datasets" />
            <extra_dir type="job_work" path="/data/jobs" />
        </backend>
    </backends>
</object_store>
